extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  script(src='/javascripts/index.js')

block content
  section.authentication-container.container
    button#login(type='button') Ingresar
    button#signin(type='button') Registrarme
  section.login-container.container.hide
    div.form-container
      h1 Ingreso al super
      div
        input#usuario(type='text', placeholder='Usuario')
        input#pass(type='password', placeholder='Contraseña')
      div.buttons-container
        button.back Regresar
        button.in Ingresar
  section.signin-container.container.hide
    div.form-container
      h1 Registrarme
      form
        input#new-email(type='email', placeholder='Correo', pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/")
        input#new-usuario(type='text', placeholder='Usuario')
        input#new-pass(type='password', placeholder='Contraseña')
        input#new-pass-confirm(type='password', placeholder='Confirme contraseña')
      div.buttons-container
        button.back Regresar
        button.in Continuar